<!--
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/contrib/auto-render.min.js"></script>
-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>

<script>
    renderMathInElement(
        document.body,
        {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "\\[", right: "\\]", display: true},
                {left: "$", right: "$", display: false},
                {left: "\\(", right: "\\)", display: false}
            ]
        }
    );
</script>

<script type="module">
    document.querySelector('hy-push-state').addEventListener('load', () => {
        let tocElement = document.getElementById("markdown-toc");
  
        if(tocElement){
            let affixedDiv = document.createElement("div");
            affixedDiv.style.position = "relative";
            affixedDiv.style.top = "-1rem";
            tocElement.parentNode.insertBefore(affixedDiv, tocElement);
  
            let headerList = document.getElementsByClassName("permalink");
            let prevElement;
            window.addEventListener("scroll", () => {
                let hurdleTop = affixedDiv.getBoundingClientRect().top;
                if(hurdleTop <= 0) tocElement.classList.add("affix");
                else tocElement.classList.remove("affix");
  
                for(let i=0;i<headerList.length;i++){
                    if(headerList[i].getBoundingClientRect().top >= 0){
                    prevElement?.style.removeProperty("font-weight");
                    let tocId = "markdown-toc-" + headerList[i].parentNode.id;
                    prevElement = document.getElementById(tocId);
                    prevElement.style.fontWeight = "bold";;
  
                    break;
                    }
                }
            });
        }
    });
    </script>